@page
@model PalletsOfColors.Pages.AutorModel
@{
    ViewData["Title"] = "Autor";
}

<div class="text-center">
    <h1 class="display-4">Autor</h1>
    <p>Acerca del creador de este proyecto</p>
    <a action="_blank" href="https://www.linkedin.com/in/cristianbracale/">LinkedIn</a>
</div>
